@import 'tailwindcss';

:root {
	--page-bg: #ebf0f4;
	--text-color: #20262c;
	--secondary-text-color: #6a7383;
	--danger: #df1b41;
	--danger-50: #ffd7df;
	--success: #228403;
	--success-50: #e1ffdf;
	--brand-color: #ff5b00;
	--link: #0570de;
	--link-50: #dfeeff;
	--white-50: #ffffff80;
	--white-60: #ffffff99;
	--popup: #ffe5d7;
	--popup-70: #fff0e8b2;
	--border-color: #d4dde0;
}

@theme inline {
	--color-page-bg: var(--page-bg);
	--color-text-color: var(--text-color);
	--font-poppins: var(--font-poppins);
	--color-secondary-text-color: var(--secondary-text-color);
	--color-danger: var(--danger);
	--color-danger-50: var(--danger-50);
	--color-success: var(--success);
	--color-success-50: var(--success-50);
	--color-brand-color: var(--brand-color);
	--color-link: var(--link);
	--color-link-50: var(--link-50);
	--color-white-50: var(--white-50);
	--color-white-60: var(--white-60);
	--color-popup: var(--popup);
	--color-popup-70: var(--popup-70);
	--color-border-color: var(--border-color);
	--breakpoint-des: 75rem;
}

/* dark theme setup - (if available) */

/* @media (prefers-color-scheme: dark) {
  :root {
   
  }
} */

body {
	background: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-poppins);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}

/* reset classes */

button,
input {
	font-family: inherit;
}

textarea {
	resize: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

/**Extras*/
button,
[role='button'] {
	cursor: pointer;
	outline: none;
}

a {
	outline: none;
}

.app-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1282px;
}

.hide-scroll {
	&::-webkit-scrollbar {
		display: none;
	}
}
